
<input
  type="file"
  accept="image/*"
  #fileInput
  (change)="fileChangeEvent($event)"
  style="display: none"
/>

<div class="background-tools">
  <button (click)="removeBackground()">Eliminar fondo</button>

  <label>
    Color de fondo:
    <input type="color" (change)="changeBackgroundColor($event)" />
  </label>
</div>

<div
  *ngIf="showCropper"
  class="cropper-container"
  [style.width.px]="originalImageWidth"
  [style.height.px]="originalImageHeight"
>
  <mat-toolbar color ="Primary">
    Angular Image Cropper
  </mat-toolbar>
  
  <div class = "container">

  </div>
</div>
