<div *ngIf="isLoading()">Loading...</div>
<div *ngIf="error()" class="error">{{ error() }}</div>

<ul *ngIf="!isLoading() && friendRequests().length > 0">
  <li *ngFor="let request of friendRequests()" class="friend-request">
    <strong>{{ request.from_user_username }}</strong><br>
    Status: {{ request.state }}<br>
    Invitation from: {{ request.created_at | date:'short' }}

    <div *ngIf="request.state === 'pending'" class="actions">
      <button (click)="onClickAccept(request)">Yes</button>
      <button (click)="onClickReject(request)">No</button>
    </div>
  </li>
</ul>


<div *ngIf="!isLoading() && friendRequests().length === 0">No requests recieved</div>

<button (click)="prevPage()" [disabled]="currentPage === 0">Before</button>
<button (click)="nextPage()" [disabled]="friendRequests().length < pageSize">Next</button>
