
<div
  class="example-boundary"
  [ngStyle]="{
    'background': backgroundStyle,
    'background-size': 'cover',
    'background-position': 'center',
    'background-repeat': 'no-repeat'
  }"
>
<group-loader
  (groupsLoaded)="onGroupsLoaded($event)">
</group-loader>

<bubble
  *ngFor="let bubble of bubblesData; let i = index; trackBy: trackById"
  [boundarySelector]="boundarySelector"
  [id]="bubble.id"
  [isColliding]="bubble.isColliding"
  [x]="bubble.x"
  [y]="bubble.y"
  (dragStateChanged)="onBubbleDragStateChanged(i, $event)"
  (positionChanged)="onBubbleMoved(i, $event)"
></bubble>
</div>


<bubble-container-background
  #bgManager
  (backgroundSelected)="onBackgroundSelected($event)"
></bubble-container-background>